<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="h3">M D Contact App
        <a class="btn btn-warning btn-small" href="/contacts/add"><i class="fa fa-plus-circle">&nbsp;</i> Add New</a>
      </p>
      <p class="fst-italic mt-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti deleniti quos animi! Rerum, nihil fugiat?
        Vero totam libero soluta tenetur assumenda minus in unde, harum neque, saepe, tempore voluptates exercitationem
        illum quo aliquam. Voluptas sint dicta incidunt aliquam dolorem minima blanditiis nihil repellat vel distinctio!
      </p>
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="search contact">
          </div>
          <div class="col-md-6">
            <input type="submit" class="btn btn-outline-dark" value="search">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Card Design -->
<div class="container">
  <!-- form here-->
</div>
