<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="h2 f2-bold text-success"><i class="fa fa-pencil">&nbsp;</i>Edit Contact</p>
      <p class="fst-italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestias tempore enim molestiae in odit quas perspiciatis quisquam ducimus earum quos quia quidem eveniet numquam consequatur dolores omnis vero amet laborum nemo, qui, ab illo. Soluta quo aliquam accusamus nulla, nam dignissimos aliquid!
      </p>
    </div>
  </div>
</div>

<!-- edit contact form  -->

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form >
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="name">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="photo url">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="mobile">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="title">
        </div>
        <div class="mb-2">
          <select class="form-control">
            <option value="">Select a Group</option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-primary" value="Update">
          <a routerLink="/" class="btn btn-danger ms-2">Close</a>
        </div>
      </form>
    </div>

    <div class="col-sm-4">
      <img src="https://via.placeholder.com/150" alt="image">
    </div>
  </div>
</div>
